.table-container {
  position: relative;
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling for the center columns */
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures columns respect their set width */
}

.tblStyle {
  border: 1px solid #c5c5c5;
  border-radius: 20px !important;
  border-collapse: separate !important;
  border-spacing: 1px;
  /* overflow: hidden; */
}

thead th,
tbody td {
  padding: 10px;
  /* border: 1px solid #ddd; */
  text-align: center;
/* width: 10em !important; */
box-shadow: inset;
  vertical-align: middle;
}

/* First Two Columns (Checkbox and Full Name) */
.fixed-left-col {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  width: 20em !important;
}

.fixed-left-col:nth-child(2) {
  left: 1px; /* Offset for the second fixed column */
}

/* Scrollable Middle Columns */
.scrollable-col {
  width: 160px; /* Set fixed width for middle columns */
  background-color: transparent;
}

/* Last Two Columns (Status and Active) */
.fixed-right-col {
  position: sticky;
  right: 0;
  z-index: 1;
  background-color: white;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  width: 14em !important;
}

.fixed-right-col:nth-last-child(2) {
  right: 120px; /* Offset for the second-to-last column */
}

.fixed-right-col:nth-last-child(1) {
  right: 0px; /* Align the last column */
}

